/* General styles for the chessboard */
#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100vmin; /* Use 80% of the viewport's smaller dimension or 640px, whichever is smaller */
    height: 100vmin; /* Use 80% of the viewport's smaller dimension or 640px, whichever is smaller */
    border: 2px solid #333;
    margin: 0; /* Remove margin */
}

/* Styling individual squares */
.square {
    width: calc(100vmin / 8); /* Calculate square size based on chessboard width */
    height: calc(100vmin / 8); /* Calculate square size based on chessboard height */
    box-sizing: border-box; /* Include border and padding in the element's total width and height */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Alternating colors for squares */
.square.odd {
    background-color: #f0d9b5;
}

.square.even {
    background-color: #b58863;
}

 /* Highlighting possible moves */
 .square.highlight {
     background-color: #aaffaa;
     border: 1px solid #00ff00;
 }
 
/* Highlighting possible moves */
.square.highlight {
    background-color: #aaffaa;
    border: 1px solid #00ff00;
}

.highlight {
    background-color: #aaffaa;
    border: 1px solid #00ff00;
}

/* Chess piece images */
.chess-piece {
    width: 60px;
    height: 60px;
    user-select: none; /* Prevents the image from being draggable */
}

/* Adjusting the grid rows for proper display */
 .captured-pieces {
     display: flex;
     justify-content: space-around;
     margin-top: 20px;
 }

 #captured-pieces-white, #captured-pieces-black {
     display: flex;
     flex-direction: column;
 }